.title {

    color: var(--secondary-color);
}

.text {

    color: var(--primary-color)
}

.primary_inverted {
    .title {
        color: var(--secondary-bg-color);
    }

    .text {
        color: var( --inverted-secondary-color);
    }
}

.error {
    .title {
        color: var(--orange700);
    }

    .text {
        color: var(--red700);
    }
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}
.size_s {
    .title {
        font: var(--font-m);
    }

    .text {
        font: var(--font-s);
    }
}


.size_m {
    .title {
        font: var(--font-l);
    }

    .text {
        font: var(--font-m);
    }
}

.size_l {
    .title {
        font: var(--font-xl);
    }

    .text {
        font: var(--font-l);
    }
}