.commentTitle{
    margin-top: 30px;
}
.recommend{
    margin-top: 40px;
}
.recommends{
    display: flex;
    margin-top: 20px;
    flex-wrap: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
    padding-right: 30px;
}

