.Code{
    border: 1px solid var(--primary-color);
    padding: 20px;
    position: relative;
    overflow:auto;
}
.copyBtn{
    position: absolute;
    right: 20px;
    top: 20px;
    
    stroke: var(--primary-color);
}