:root{  

    --bg-color: var(--gray800);
    --inverted-bg-color:var(--gray700);
	--secondary-color: var(--blue900);
	--primary-color: var(--blue700);
    --inverted-primary-color:var(--white);
    --inverted-secondary-color:#c4cddb;
	--hover: var(--blue900);
	--secondary-hover: var(--gray800);
    --modal_color:#c4cddb;
    --modal_font:var(--gray700);

    --skeleton-color: #1515ad;
    --skeleton-shadow: #2b2be8;
}   
