.app_light_theme  {
    --bg-color: #e6e6e3;
    --inverted-bg-color: rgb(27 27 60);
    --primary-color: var(--blue900);
    --secondary-color: var(--blue1200);
    --inverted-primary-color: #12ab12;
    --inverted-secondary-color: #12ab12;
    
    --bg-color: var(--gray50);
	--secondary-bg-color: var(--white);
 
    // --secondary-color:var(--blue700);
	--hover: var(--white);
	--secondary-hover: var(--gray50);
    --modal_color: #12ab12;

    --skeleton-color: #ccc9c9;
    --skeleton-shadow: rgba(70, 62, 62, 0.2);

    --card-bg: rgb(27 27 60);
    --card-font:#12ab12;
    --listbox-bg: rgb(31 31 76);
}
