.app_dark_red {

    --inverted-bg-color: #862B23;
    --primary-color:#a78888;
    --secondary-color: #352e2e;
    --inverted-primary-color: #979494;
    --inverted-secondary-color: #201e1e;

    --bg-color: #FBF4F4;
    --secondary-bg-color: #242222;

    // --secondary-color:var(--blue700);
    --hover: var(--white);
    --secondary-hover: var(--gray50);
    --modal_color: #2fb41a;

    --skeleton-color: #d6c3c3;
    --skeleton-shadow: rgba(0 0 0 /20%);

    --card-bg: #862B23;
    --card-font: var(--white);
    --listbox-bg: #d3cfce
}