.Dropdown {
    position: relative;
}

.btn {
    background: none;
    outline: none;
    margin: 0;
    padding: 0;
    border: none;
    cursor: pointer;

    img{
        margin: 0;
        
    }
}

.menu {
    background-color: var(--card-bg);
    position: absolute;
    z-index: 10000;
    border-radius: 8px;
    border: 1px solid var(--primary-color);
    display: flex;
    flex-direction: column;
}

.item {
    padding: 10px 25px;
    width: max-content;
    border: none;
    background: none;
    outline: none;
    color: var(--inverted-primary-color);
    cursor: pointer;
}

.active {
    background-color: var(--primary-color);
    border-radius: 8px;
}

.optionsBottomLeft {
    top: 100%;
    right: 0;
}

.optionsBottomRight {
    top: 100%;
    left: 0;
}

.optionsTopRight {
    bottom: 100%;
    left: 0;
}

.optionsTopLeft {
    right: 0;
    bottom: 100%;

}