.NavBar {
    width: 100%;
    height: var(--navbar-height);
    background: var(--inverted-bg-color);
    display: flex;
    align-items: center;
    transition:var(--base-transition);
    padding-left: 20px;
}

.links {
    display: flex;
    float: right;
    margin: 0 60px;
    margin-left: auto;
    color: var(--inverted-primary-color);
}

.links a {
    text-decoration: none;
    margin: 0 8px;
}

.links a:hover {
    text-decoration: underline;
}
