.NavBar {
    width: 100%;
    height: var(--navbar-height);
    background: var(--inverted-bg-color);
    display: flex;
    align-items: center;
    transition:var(--base-transition);
    padding-left: 20px;
}

.links, .actions {
    display: flex;
    float: right;
    margin: 0 20px;
    margin-left: auto;
    color: var(--inverted-primary-color);
}
 
.links a {
    text-decoration: none;
    margin: 0 8px;
}

.links a:hover {
    text-decoration: underline;
}
.appName{
    width: var(--sidebar-width);
    margin-left: 15px;
}
.createBtn{
    margin-left: 15px;
}
.notif{
    fill: var(--inverted-primary-color)
}
.notifications{
    min-height: 150px;
    max-height: 300px;
    width: 500px;
    overflow-y: auto;
}