.sortWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search {
    margin-top: 16px;

    div {
        flex-direction: row;
    }
}

.tabs {
    margin-top: 16px;
}